<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.BoardDAO">
		
	<select id="totRecCnt" resultType="int">
		select count(*) from board2; 
	</select>
		
	<select id="getBoardList" resultType="com.spring.javawspring.vo.BoardVO">
		select * from board2 order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getBoardContent" resultType="com.spring.javawspring.vo.BoardVO">
		select * from board2 where idx = #{idx};
	</select>
	
	<select id="getBoardGoodCheck" resultType="com.spring.javawspring.vo.GoodVO">
		select * from good where partIdx=#{partIdx} and part=#{part} and mid=#{mid};
	</select>
	
	<!--CDATA쓰는법 :  <![CDATA[idx < 10]]> -->
	<select id="getPrevNext" resultType="com.spring.javawspring.vo.BoardVO">
		select idx, title from board2 where idx in (
		(select idx from board2 where <![CDATA[idx < #{idx}]]> order by idx desc limit 1),	<!-- 이전글 -->
		(select idx from board2 where <![CDATA[idx > #{idx}]]> limit 1));											<!-- 다음글 -->
	</select>
	
	<insert id="setBoardInput">
		insert into board2 values (default,#{vo.nickName},#{vo.title},#{vo.email},#{vo.homePage},#{vo.content},default,#{vo.hostIp},default,default,#{vo.mid});
	</insert>
	
	<update id="setBoardReadNum">
		update board2 set readNum = readNum + 1 where idx = #{idx};
	</update>
	<!-- 
	<update id="getBoardGood">
		update board2 set good = good + 1 where idx = #{idx};
	</update>
	 -->
	<update id="getBoardGoodUpdate">
		update board2 set good = good + #{gFlag} where idx = #{idx};
	</update>
	
	<update id="setBoardUpdateOk">	<!-- vo에 있는 타이틀을.. -->
		update board2 set title = #{vo.title}, email= #{vo.email}, homePage= #{vo.homePage}, content= #{vo.content}, hostIp= #{vo.hostIp} where idx = #{vo.idx} ;	
	</update>
	
	<delete id="setBoardDeleteOk">
		delete from board2 where idx = #{idx};
	</delete>
	

</mapper>