<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.BoardDAO">
		
	<select id="totRecCnt" resultType="int">
		select count(*) from board2 where ${part} like concat('%',#{searchString},'%'); 
	</select>
		
	<select id="getBoardList" resultType="com.spring.javawspring.vo.BoardVO">
		<!-- select * from board2 order by idx desc limit #{startIndexNo},#{pageSize}; -->
		select * from board2 where ${part} like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo},#{pageSize};		
	</select>
	
	<select id="getBoardContent" resultType="com.spring.javawspring.vo.BoardVO">
		select * from board2 where idx = #{idx};
	</select>
	
	<select id="getBoardGoodCheck" resultType="com.spring.javawspring.vo.GoodVO">
		select * from good where partIdx=#{partIdx} and part=#{part} and mid=#{mid};
	</select>
	
	<!--CDATA쓰는법 :  <![CDATA[idx < 10]]> -->
	<select id="getPrevNext" resultType="com.spring.javawspring.vo.BoardVO">
		select idx, title from board2 where idx in (
		(select idx from board2 where <![CDATA[idx < #{idx}]]> order by idx desc limit 1),	<!-- 이전글 -->
		(select idx from board2 where <![CDATA[idx > #{idx}]]> limit 1));											<!-- 다음글 -->
	</select>
	
	<select id="getBoardReply" resultType="com.spring.javawspring.vo.BoardReplyVO">
		select * from boardReply2 where boardIdx = #{idx} order by levelOrder;
	</select>
	
	<select id="getMaxLevelOrder" resultType="String">
  	select max(levelOrder) from boardReply2 where boardIdx = #{boardIdx};
  </select>
	
	<insert id="setBoardInput">
		insert into board2 values (default,#{vo.nickName},#{vo.title},#{vo.email},#{vo.homePage},#{vo.content},default,#{vo.hostIp},default,default,#{vo.mid});
	</insert>
	
	<insert id="setBoardReplyInput">
    insert into boardReply2 values (default,#{replyVo.boardIdx},#{replyVo.mid},#{replyVo.nickName},default,#{replyVo.hostIp},#{replyVo.content},default,#{replyVo.levelOrder});
  </insert>
  
	<insert id="setBoardReplyInput2">
    insert into boardReply2 values (default,#{replyVo.boardIdx},#{replyVo.mid},#{replyVo.nickName},default,#{replyVo.hostIp},#{replyVo.content},#{replyVo.level},#{replyVo.levelOrder});
  </insert>
	
	<update id="setBoardReadNum">
		update board2 set readNum = readNum + 1 where idx = #{idx};
	</update>
	<!-- 
	<update id="getBoardGood">
		update board2 set good = good + 1 where idx = #{idx};
	</update>
	 -->
	<update id="getBoardGoodUpdate">
		update board2 set good = good + #{gFlag} where idx = #{idx};
	</update>
	
	<update id="setBoardUpdateOk">	<!-- vo에 있는 타이틀을.. -->
		update board2 set title = #{vo.title}, email= #{vo.email}, homePage= #{vo.homePage}, content= #{vo.content}, hostIp= #{vo.hostIp} where idx = #{vo.idx} ;	
	</update>
	
	<update id="setLevelOrderPlusUpdate">	<!--  -->
		update boardReply2 set levelOrder = levelOrder + 1 where boardIdx = #{replyVo.boardIdx} and levelOrder > #{replyVo.levelOrder};
	</update>
	
	<delete id="setBoardDeleteOk">
		delete from board2 where idx = #{idx};
	</delete>
	
	<delete id="setBoardReplyDeleteOk">
		delete from boardReply2 where idx = #{idx};
	</delete>
	

</mapper>